<ul class="nav nav-pills">
    <li>
        <span class="label" id="nav1">选择</span>&nbsp;
    </li>
    <li>
        <span class="label" id="nav2">预订</span>&nbsp;
    </li>
    <li>
        <span class="label" id="nav3">确认</span>&nbsp;
    </li>
    <li>
        <span class="label" id="nav4">完成</span>&nbsp;
    </li>
</ul>

<script type="text/javascript" src="@Url.Content("~/Scripts/partial/orderProgressPartial.js")"></script>